/* Related Articles */
.related-posts-container .related-posts-title-block {
    border-bottom: 2px solid #222;
}
.related-posts-container .related-posts-title {
    display: inline-block;
    padding: 5px;
	margin: 0;
    color: #fff;
    background-color: #222;
    line-height: 1;
    font-size: 16px;
    font-weight: 600;
    font-family: open sans,arial,sans-serif;
}
.related-posts-inner {
    display: block;
	margin: 20px 0;
}
.related-posts-inner .related-posts-blook {
    display: flex;
}
.related-posts-inner li {
    width: 31.33333%;
    display: block;
    clear: both;
    list-style-type: none;
    margin-right: 3%;
}
.related-posts-inner .related-posts-2 {
	margin-right: 0%;
}
.related-posts-inner .related-posts-img {
    position: relative;
}
.related-posts-inner .entry-time {
    position: absolute;
    top: 0;
    padding: 3px;
    color: #fff;
    background-color: #222;
    line-height: 1;
    font-size: 10px;
    font-weight: 600;
    font-family: open sans,arial,sans-serif;
}
.related-posts-inner .entry-time::before {
    content: '\f469';
    font-family: dashicons;
    font-size: 15px;
    color: #fff;
    padding-right: 3px;
    vertical-align: middle;
}
.related-posts-inner .item-details {
    margin-top: 20px;
}
.related-posts-inner .entry-title {
    font-size: 18px;
    line-height: 1;
	font-weight: 600;
    font-family: open sans,arial,sans-serif;
}
